helmGlobals:
  chartHome: /tmp/rucio-charts

namespace: rucio-int

helmCharts:
- name: rucio-server
  releaseName: fnal
  repo: https://rucio.github.io/helm-charts
  valuesFile: values-rucio-server.yaml
  version: 38.0.4
  namespace: rucio-int
- name: rucio-daemons
  releaseName: fnal
  repo: https://rucio.github.io/helm-charts
  valuesFile: values-rucio-daemons.yaml
  version: 38.0.3
  namespace: rucio-int
- name: rucio-webui
  releaseName: fnal
  repo: https://rucio.github.io/helm-charts
  valuesFile: values-rucio-webui.yaml
  version: 38.0.1
  namespace: rucio-int

resources:
- cache.yaml
- prometheus.yaml
- messenger.yaml
- grid-certificates-pvc.yaml
- grid-certificates-cronjob.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- path: patches/server/patch-server.yaml
  target:
    kind: Deployment
    name: fnal-rucio-server
- path: patches/daemons/automatix-deployment.yaml
  target:
    kind: Deployment
    name: fnal-rucio-daemons-automatix
- path: patches/daemons/reaper-deployment.yaml
  target:
    kind: Deployment
    name: fnal-rucio-daemons-reaper
- path: patches/webui/webui-service.yaml
  target:
    kind: Service
    name: fnal-rucio-webui
- path: patches/webui/webui-deployment.yaml
  target:
    kind: Deployment
    name: fnal-rucio-webui
- path: patches/patch-messenger.yaml
  target:
    kind: Service
    name: fnal-rucio-messenger
