# Default values for rucio.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

serviceAccountName: useroot

## replicaCount gives the number of server pods to run
replicaCount: 1

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1

minReadySeconds: 5

image:
  repository: rucio/rucio-webui
  tag: release-38.3.0
  pullPolicy: Always

imagePullSecrets: []
# - name: docker-regcreds

imageRegistry: imageregistry.fnal.gov/docker.io

# Additional annotations to be added to the deployment
# Example usage:
# deploymentAnnotations:
#   reloader.stakater.com/auto: "true"
#   foo: "bar"
deploymentAnnotations: {}

useSSL: true

service:
  type: ClusterIP
  port: 443
  targetPort: 443
  name: https
  tls:
    enabled: true
  allocateLoadBalancerNodePorts: false

ingress:
  enabled: 0

secretMounts:
  # Custom to install metacat? Needed for webui?
  #- secretName: docker-entrypoint-webui
  #  mountPath: /docker-entrypoint.sh
  #  subPath: docker-entrypoint.sh
  #  defaultMode: 0750
  - secretName: hostcert
    mountPath: /etc/grid-security/hostcert.pem
    subPath: hostcert.pem
  - secretName: hostkey
    mountPath: /etc/grid-security/hostkey.pem
    subPath: hostkey.pem
  - secretName: cafile
    mountPath: /etc/grid-security/ca.pem
    subPath: ca.pem
  - secretName: ca-volume
    mountPath: /etc/grid-security/certificates
  - secretName: httpd-custom-config
    mountPath: /etc/httpd/conf.d/fnal-custom-config.conf
    subPath: fnal-custom-config.conf

# - volumeName: gcssecret
#   secretName: gcssecret
#   mountPath: /opt/rucio/etc/gcs_rucio.json
#   subPath: gcs_rucio.json
## values used to configure Rucio
config:
  
  httpd_config:
    legacy_dn: "True"
    log_dir: "/rucio/logs"
    # mpm_mode: "event"
    # start_servers: "1"
    # min_spare_threads: "1"
    # max_spare_threads: "20"
    # threads_per_child: "5"
    # max_clients: "20"
    # max_requests_per_child: "8192"
    tls:
      enabled: true

  ## Rucio WebUI specific configuration for apache
  webui:
    # hostname of the rucio server, include http:// or https://
    rucio_host: "https://mu2e-rucio.fnal.gov"
    # hostname of the rucio-auth server, include http:// or https://
    rucio_auth_host: "https://mu2e-rucio.fnal.gov"
    # hostname of the webui (without http:// or https://, just the hostname, no port or scheme required)
    hostname: "webui-mu2e-rucio.fnal.gov"
    project_url: "https://fnal.gov"
    # if your DID schema in your policy uses special characters like + or /, set this to true
    params_encoding_enabled: "False"
    # if you want to disable userpass authentication, set this to False
    enable_userpass_login: "False"
    # configures the placeholder scope and name in the DIDs list page (e.g., scope:name, scope:*)
    #list_dids_initial_pattern: ""
    # if you want to add your own custom logo to the webui's login page, set this to the url of the logo
    #community_logo_url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxnHbkErtMHdMn2FXvsMrkyk55SPeqh4bkB8X4uvAQE2HHNmFznf46Zkr96kN_5EbmFfc&usqp=CAU"
    # to associate a custom Activity with the rules created with the webui, set this to the name of the activity
    #rule_activity: "User Subscriptions"
    #multivo_enabled: "False"
    # A csv string of vos containing their short names. For example: "def,atl,cms"
    #vo_list: "def"
    #vo_default: "def"
    oidc_enabled: "False"
    enable_ssl: "True"
    server_ca_bundle: "/etc/grid-security/ca.pem"

  logs:
    exposeHttpdLogs: true
    exposeWebuiLogs: true

optional_config:
  pythonpath: /opt/rucio/permissions
  #POLICY_PKG_DIR: /opt/rucio/permissions

hostPathMounts: []

additionalEnvs:
  - name: RUCIO_CA_PATH
    value: "/etc/grid-security/certificates"
  - name: RUCIO_ENABLE_SSL
    value: "True"
  - name: RUCIO_HTTPD_LEGACY_DN
    value: "True"
  - name: RUCIO_LOG_LEVEL
    value: debug

persistentVolumes: {}

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
